@page "/articles/{Id:guid}"

<article>
    @if (IsLoading)
    {
        
    }
    else if (Article is null)
    {
        <p>@L["ArticleNotFound"]</p>
    }
    else
    {
        <div id="article-content-details" class="text-center">
            <h2>@Article.Title</h2>
            <h4>@Article.Subtitle</h4>
            <p>
                by
                <span data-role-type="author">@Article.AuthorName</span> |
                <span data-date-published="">@Article.PublishDate.ToLongDateString()</span>
            </p>
        </div>

        <figure class="text-center">
            <img id="article-content-image" src="@Article.FeaturedImage" alt="" />
        </figure>

        <div id ="article-content-text">
            @((MarkupString)Article.Content)
        </div>
    }
</article>



@if (CurrentUser.IsAuthenticated)
{
    <p>
        <a href="/edit/@Id">Edit</a>
    </p>
}
