<section class="mb-4">
    
    @if (IsLoading)
    {

    }
    else if (ContentDetails.TotalCount == 0)
    {

    }
    else
    {
        <h4>Featured</h4>
        <hr class="mt-0" />
        @foreach (var featuredArticle in FeaturedArticles)
        {
            <a href="/articles/@featuredArticle.Id">
                <div id="featured-container" class="col-12">
                    <article>
                        <div class="featured-img-container d-inline-block col-5">
                            <figure class="featured-article-img figure figure-is-500x400">
                                <img src="@featuredArticle.FeaturedImage" alt="placeholder image" />
                            </figure>
                        </div>

                        <div class="featured-details-container d-inline-block col-6">
                            <h2>@featuredArticle.Title</h2>
                            <h4>@featuredArticle.Subtitle</h4>
                            <p>by @featuredArticle.AuthorName <span class="article-date">@featuredArticle.PublishDate.ToLongDateString()</span></p>
                        </div>
                    </article>
                </div>
            </a>
        }
    }
</section>