@page "/add"
@using Blazorise.RichTextEdit
@attribute [Authorize()]

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    <Form>
        <Validations Model="NewArticle" ValidateOnLoad="false">
            <Validation MessageLocalizer="@LH.Localize">
                @* TITLE FIELD *@
                <Field>
                    <FieldLabel>@L["CMSContent:Title"]</FieldLabel>
                    <TextEdit @bind-Text="@NewArticle.Title">
                        <Feedback>
                            <ValidationError><ValidationMessage For="@(() => NewArticle.Title)" /></ValidationError>
                        </Feedback>
                    </TextEdit>

                </Field>

                @* SUBTITLE FIELD *@
                <Field>
                    <FieldLabel>@L["CMSContent:Subtitle"]</FieldLabel>
                    <TextEdit @bind-Text="@NewArticle.Subtitle">
                        <Feedback>
                            <ValidationError><ValidationMessage For="@(() => NewArticle.Subtitle)" /></ValidationError>
                        </Feedback>
                    </TextEdit>

                </Field>

                @* AUTHOR FIELD *@
                <Field>
                    <FieldLabel>@L["Author"]</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="@NewArticle.AuthorId">
                        @foreach (var author in authorList)
                        {
                            <SelectItem TValue="Guid" Value="@author.Id">
                                @author.Name
                            </SelectItem>
                        }
                    </Select>
                </Field>

                @* PUBLISHDATE FIELD *@
                <Field>
                    <FieldLabel>@L["CMSContent:DatePublished"]</FieldLabel>
                    <DateEdit TValue="DateTime" @bind-Date="NewArticle.PublishDate" />
                    <ValidationError><ValidationMessage For="@(() => NewArticle.PublishDate)" /></ValidationError>
                </Field>

                @* CONTENT FIELD*@
                <Field>
                    <FieldLabel>@L["CMSContent:Content"]</FieldLabel>
                    <RichTextEdit @ref="richTextEditRef"
                                  Theme="RichTextEditTheme.Snow"
                                  ContentChanged="@OnContentChanged"
                                  PlaceHolder="Type your post here..."
                                  ReadOnly="@readOnly"
                                  SubmitOnEnter="false"
                                  ToolbarPosition="Placement.Bottom">
                        <Editor>
                            @((MarkupString)NewArticle.Content)
                        </Editor>
                        <Toolbar>
                            <RichTextEditToolbarGroup>
                                @* Font styling options*@
                                <RichTextEditToolbarSelect Action="RichTextEditAction.Header">
                                    <RichTextEditToolbarSelectItem Value="1" />
                                    <RichTextEditToolbarSelectItem Value="2" />
                                    <RichTextEditToolbarSelectItem Value="3" />
                                    <RichTextEditToolbarSelectItem Selected>Text</RichTextEditToolbarSelectItem>
                                </RichTextEditToolbarSelect>
                                @* Font Size Options *@
                                <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                    <RichTextEditToolbarSelectItem Value="small" />
                                    <RichTextEditToolbarSelectItem Selected />
                                    <RichTextEditToolbarSelectItem Value="large" />
                                    <RichTextEditToolbarSelectItem Value="huge" />
                                </RichTextEditToolbarSelect>
                            </RichTextEditToolbarGroup>
                            <RichTextEditToolbarGroup>
                                @* Text Formatting Options *@
                                <RichTextEditToolbarButton Action="RichTextEditAction.Bold" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Italic" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Underline" />
                            </RichTextEditToolbarGroup>
                            <RichTextEditToolbarGroup>

                                @* List Options *@
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet" />

                                @* Text Alignment *@
                                <RichTextEditToolbarSelect Action="RichTextEditAction.Align">
                                    <RichTextEditToolbarSelectItem Selected />
                                    <RichTextEditToolbarSelectItem Value="center" />
                                    <RichTextEditToolbarSelectItem Value="right" />
                                    <RichTextEditToolbarSelectItem Value="justify" />
                                </RichTextEditToolbarSelect>
                                <RichTextEditToolbarButton Action="RichTextEditAction.Blockquote" />
                            </RichTextEditToolbarGroup>
                            <RichTextEditToolbarGroup>
                                <RichTextEditToolbarButton Action="RichTextEditAction.Link" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Image" Display="Display.None" />
                            </RichTextEditToolbarGroup>
                        </Toolbar>
                    </RichTextEdit>
                    <ValidationError><ValidationMessage For="@(() => NewArticle.Content)" /></ValidationError>
                </Field>
            </Validation>
        </Validations>

        @* ISFEATURED FIELD*@
        <Field>
            <Check TValue="bool" @bind-checked="@NewArticle.IsFeatured">@L["CMSContent:IsFeatured"]</Check>
        </Field>

        <Button Color="Color.Secondary"
                Clicked="ConfirmCancel">
            @L["Cancel"]
        </Button>

        <Button Color="Color.Primary"
                Type="@ButtonType.Submit"
                PreventDefaultOnSubmit="true"
                Clicked="CreateArticleAsync">
            @L["Save"]
        </Button>
    </Form>
}
